.DS_Store
node_modules
/dist
/develop
/production
/release

# local env files
.env.local
.env.*.local
src/types/extendBase/appConfigs.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
android
ios
gh-pages
vue_spin_wheel
otp_counter
portfolio_mobile_pattern

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignored
/src/customConfig.ts
